*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;

}

body{
  height: 100vh;
  background: linear-gradient(to bottom,  #cad7e0, #1579ca );
}

.inicio{
    display: flex;
    /* display: none; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inicio > img{
  width: 50%;
}

.btnComecar{
  position: absolute;
  top: 300px;
  font-weight: bold;
  background: -webkit-linear-gradient(right, #7fb6e4, #1579ca);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #1579ca;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 15%;
  transition: 0.25s;
  width: 200px;
}

.btnComecar:hover {
  box-shadow: 0px 1px 18px #7fb6e4;
}
.etapa2{
  display: none;
}
.etapa3{
  display: none;
}
.etapaFinal{
  display: none;
}

label {
    font-family: "Raleway", sans-serif;
    font-size: 11pt;
    margin-top: 10px;
  }

.inputs{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

input{
    border: none;
    background: #fbfbfb;
}
  

  #card {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    margin: auto;
    width: 85%;
  }
  #card-content {
    padding: 12px 44px;
  }
  #card-title {
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
  }

  #submit-btn, #submitToNext {
    background: -webkit-linear-gradient(right, #eaeee9, #7b807d);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #7b807d;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.25s;
    width: 153px;
  }
  #submit-btn:hover, #submitToNext:hover {
    box-shadow: 0px 1px 18px #7b807d;
  }
  .form {
    align-items: left;
    display: flex;
    flex-direction: column;
  }
  .form-border {
    background: -webkit-linear-gradient(right, #eaeee9, #7b807d);
    height: 1px;
    width: 100%;
  }
  .form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
  }
  .underline-title {
    background: -webkit-linear-gradient(right, #eaeee9, #7b807d);
    height: 2px;
    margin: auto;
    width: 255px;
  }

  .jogo1Semi, .jogo2Semi, .jogoFinal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
  }

  .penaltJogo1, .penaltJogo2, .penaltFinal{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    gap: 15px;
  }

  .etapaFinal{
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 45px;
  }

  .timeVencedor{
    font-size: xx-large;
    font-weight: bold;
  }
  